body {
    /* background: #E2E2E2; */
    background: #19323C;
    color: black;
}

.center {
    text-align: center;
    justify-content: center;
}

.buttonColor {
    background: white;;
}

.container {
    background: #E2E2E2;
    border-radius: 25px;
}

.input-field [type=text] {
    color: orange;
}