body {
    background: #19323C;
    color: black;
    font-family: 'Fira Code', monospace;
}

h1 {
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Squada One', cursive;
}

h3 {
    text-align: center;
    justify-content: center;
    color: black;
    font-family: 'Squada One', cursive;
}

.center {
    text-align: center;
    justify-content: center;
}

.buttonColor {
    background: white;;
}

.container {
    background: #E2E2E2;
    border-radius: 25px;
    box-shadow: gray;
}

.input-field label {
    color: #000;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editButton {
    background-color: transparent !important;
    border: none;
    text-decoration: none;
}

.deleteButton {
    background-color: transparent !important;
    border: none;
    text-decoration: none;
}

.total {
    margin: 2rem 0;
    font-size: 1.5rem;
}

/* Go back Button */

.goBack {
    display: block;
    width: 115px;
    height: 25px;
    background: #E2E2E2;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

/* Notification style */

.notification {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem 3rem;
    opacity: 0;
    color: white;
    transition: opacity 0.5s ease;
}

.visible {
    opacity: 1;
}

.addedContact {
    background: #9CBFA7;
    color: black;
}

.missedInput {
    background: #4D243D;
    color: white;
}
